<div>
    <!--<hi-gantt hi-title="Календарь" row-source="v_documents_tasks_gantt"  ng-model="v_documents_tasks_gantt.dataset" hi-normalize-time="true" hi-options="false">-->
    <hi-gantt hi-title="Календарь" row-source="v_documents_tasks_gantt" hi-normalize-time="true" hi-options="false">
        <!--<div layout-padding layout="row"  layout-align="start center"  style="height: 56px;" >-->
            <!--<label>с</label>-->
            <!--<input type="date"  ng-model="v_documents_tasks_gantt.search_date_start" ng-required="false">-->

            <!--<label>по</label>-->
            <!--<input type="date"  ng-model="v_documents_tasks_gantt.search_date_end" ng-required="false">-->
        <!--</div>-->
    </hi-gantt>
</div>
