.x-gantt {
    display: block;
    position: relative;

    overflow: hidden;
}

.x-gantt-root {
    width: 100%;
    height: 100%;
}

.x-gantt-row-header {
    display: inline-block;
    position: absolute;

    border: 1px solid #dddddd;

    overflow:hidden;
}

.x-gantt-columns-header {
    display: inline-block;
    position: absolute;

    border: 1px solid #dddddd;

    overflow:hidden;
}

.x-gantt-grid {
    overflow:hidden;
 }

.x-gantt-graph {
}

.x-gantt-cell {
    position: absolute;
}

.x-gantt-column {
}

.x-gantt-row {
}

.x-gantt-row:hover {
    background-color: rgb(210, 210, 210);
}

.x-gantt-column:hover {
    background-color: rgb(210, 210, 210);
}

.x-gantt-item {
    /*background-color: rgba(86, 128, 255, 0.50);*/
    border: 1px solid #dddddd;
    border-radius: 0px;

    overflow: hidden;
    white-space: nowrap;
    padding-left: 3px;

    display: table-cell;
    text-align: left;
    vertical-align: middle;

    cursor: pointer;
}

.x-gantt-item:hover {
    overflow: visible;
}

.x-gantt-header-column {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.x-gantt-table-row-item {
    overflow: hidden;
    white-space: nowrap;
}

.x-gantt-table-row{
    overflow: hidden;
    white-space: nowrap;
}

.x-gantt-table-row {
    border-top: 1px solid #dddddd;
    border-right:  1px solid #dddddd;
}

.x-gantt-table-row:hover{
    /*overflow: visible;*/
    cursor: pointer;
}

.x-gantt-column, .x-gantt-row, .x-gantt-header-column, .x-gantt-table-row-item{
    border-bottom: 1px solid #dddddd;
    border-left:  1px solid #dddddd;
}

.x-gantt-description {
}

.x-gantt-box {
    border: 1px solid #07ff20;
}

.x-gantt-hidden {
    display: none;
}

.x-gantt-visible {
    display: block;
}

scroll-area {
     display: inline-block;
     position: absolute;
     overflow:visible;
}

.x-vertical-delimiter {
    display: block;
    position: absolute;
    overflow:hidden;
    border:  1px solid #aaaaaa;
    background-color: #fafafa;
    cursor: col-resize;
}


.no-selection {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}